/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume {
  padding: 31px;
}

.resume i {
  font-size: 1.25rem;
}

.resume-company i {
  font-size: 14px;
  margin-left: 5px;
}

.resume .container {
  background-color: white;
  color: black;
  font-family: "Raleway", sans-serif !important;
  min-height: 2100px;
  padding: 2rem 0 0 0;
}

.resume .container .section-column h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.resume .container h2, .resume .container h4 {
  color: black;
}

.resume .container p, .resume .container li {
  font-size: 14px;
  margin-bottom: 5px;
}

.resume .container h4 {
  font-size: 22px !important;
  min-height: 24px;
  line-height: 26px !important;
}

.resume .section-title {
  display: flex;
  justify-content: space-between
}

.section-media {
  margin-right: 1.5rem;
}

.section-column {
  flex: 1;
  box-sizing: border-box; /* Ensure padding does not affect the width */
}

.section-img {
  text-align: center;
}

.section-img img {
  border-radius: 50%;
  object-fit: cover;
}

.section-column:nth-child(2) {
  max-width: 10rem;
}

.section-column:nth-child(2) img {
  width: 9rem;
  height: 9rem;
}

.section-column:nth-child(3) {
  text-align: end;
}

.resume-title {
  margin-left: 3rem;
}

.resume-title, .resume-subtitle, .resume-title-right {
  font-weight: 700;
}

.section-title, .resume-item, .resume-item-right, .resume-item-right-activity  {
  position: relative;
  gap: 1rem;
}

.resume-item, .resume-item-right {
  line-height: 20px;
  display: flex;
}

.resume-item {
  margin-bottom: 1rem;
}

.resume-item-right-activity {
  margin-bottom: 2rem;
}

.resume-item-right {
  margin-bottom: 3rem;
}

.resume .resume-item::before, .resume .section-title::before {
  content: '';
  height: 4rem;
  min-width: 2rem;
  /* width: 3rem; */
  display: block;
  /* padding: 10px; */
  background-color: var(--dark-green);
  /* border: 1px solid #ccc; */
  /* margin-bottom: 10px; */
}

.section-title {
  border-bottom: 1px solid black;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.resume-year {
  display: flex;
  justify-content: space-between;
}

.resume-color {
  color: var(--dark-green);
}

.resume-font {
  font-weight: 400;
  font-style: italic;
  font-size: 13px !important;
  line-height: 16px;
}

.resume-item-list {
  display: flex;
  flex-wrap: wrap;
}

.resume-item-list li {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: fit-content;
}

.resume-tech-skills li {
  background-color: #a09ca4;
  border: 0;
  color: white
}

.resume-language, .resume-item-list {
  margin: 0;
  padding: 0;
}

.resume-item-list li,
.resume-language li {
  list-style-type: none;
}

.resume-language {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.resume-language li {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.resume-two-columns {
  columns: 2;
  -webkit-columns: 2; /* For Safari */
  -moz-columns: 2; /* For Firefox */
}

.resume-two-columns li {
  break-inside: avoid;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .resume {
    padding: 20px;
    margin-bottom: 9rem;
  }

  .resume .section-title {
    flex-direction: column;
    padding: 1rem;
  }

  .section-column:nth-child(3) {
    text-align: start;
  }

  .section-column:nth-child(3) p {
    margin: 0;
  }

  .resume .section-title::before  {
    height: 0 !important;
  }

  .resume-item-right-activity, .resume-item-right {
    margin-bottom: 1.5rem;
  }

  .resume .resume-item::before {
    min-width: 1.5rem !important;
  }

  .resume .resume-two-columns {
    columns: 1;
  }

  .resume-two-columns li {
    break-inside: avoid;
    margin-bottom: 0.5rem;
    margin-right: 0
  }

  .resume .container {
    min-width: 90% !important;
    padding-top: 0;
    border-radius: 10px;
  }
}