/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.container {
  background-color: white;
  color: black;
  font-family: "Raleway", sans-serif !important;
  padding: 2rem;
}

.container h4 {
  font-size: 24px !important;
  min-height: 24px;
  line-height: 26px !important;
}

.resume .section-title {
  display: flex;
  justify-content: space-between
}

.section-column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box; /* Ensure padding does not affect the width */
}

.section-column:nth-child(3) {
  text-align: end;
}

.resume-title {
  margin-left: 5rem;
}

.resume-title, .resume-subtitle {
  font-weight: 700;
}

.section-title, .resume-item  {
  position: relative;
  gap: 1rem;
}

.resume-item {
  margin-bottom: 2rem;
  line-height: 20px;
  /* padding: 20px; */
  display: flex;
}

.resume-item::before, .section-title::before {
  content: '';
  height: 3rem;
  min-width: 4rem;
  display: block;
  /* padding: 10px; */
  background-color: #f0f0f0;
  /* border: 1px solid #ccc; */
  /* margin-bottom: 10px; */
}

.section-title {
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
}

.resume-year {
  display: flex;
  justify-content: space-between;
}

.resume-color {
  color: blue;
}

.resume-font {
  font-weight: 300;
  font-style: italic;
  font-size: 14px !important;
  line-height: 14px;
}

.resume-item-list {
  display: flex;
  flex-wrap: wrap;
}

.resume-item-list li {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: fit-content;
}

.resume-language, .resume-item-list {
  margin: 0;
  padding: 0;
}

.resume-item-list li,
.resume-language li {
  list-style-type: none;
}

.resume-language {
  display: flex;
  /* justify-content: space-between; */
  gap: 1rem;
  flex-wrap: wrap;
}

.resume-language li {
  display: flex;
  justify-content: start;
  flex-direction: column;
}
