@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --bs-card-color: #080404;
  --bg-color:rgb(33, 32, 32);
  --dark-theme-black: #10141c;
  --dark-theme-light-white: rgba(240, 242, 245, 0.7);
  --dark-theme-white: #f0f2f5;
  --light-black: #576076;
  --link-green: #18d26e;
  --dark-green: #48949c;
  --teal: #008080;
  --dodger-blue: #1E90FF;
  --button-hover-color: #00BFFF;
}

html {
  font-family: "Raleway", sans-serif;
  max-width: 2800px;
}
body {
  /* background-color: #040404; */
  background-color: var(--bg-color);
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: var(--bg-color) url('') top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

i {
  font-size: 1.5rem;
}

button, input, a {
  font-family: "Raleway", sans-serif !important;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: var(--button-hover-color)
}

button:hover, a:hover {
  color: var(--button-hover-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

section {
  overflow: hidden;
  width: 100%;
  top: 140px;
  bottom: 100%;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}